.tree {
    padding-left: 1.5rem;

    .content {
        padding: .5rem;
        flex: 1;
        display: flex;
        flex-direction: column;

        .folder-content {
            padding-left: 1rem
        }
        
        .folder-content:hover {
            background: #0076FF;
            color: white;
            cursor: pointer;
             
            svg {
                color: white !important;
            }
        }
    }
}